<div class="alert alert-warning" role="alert">
  <%= t('.warning') %>
</div>

<div class="border-left-line">
  <%= t('.main_title') %>
</div>

<div class="main-content">
  <%= form_with model: @user_account do |f| %>
    <%= render 'shared/error_messages', {object: f.object} %>
    <table class="table">
      <tbody>
        <tr>
          <td><%= f.label :bank_name %></th>
          <td><%= f.text_field :bank_name, class:'form-control' %></td>
        </tr>
        <tr>
          <td><%= f.label :bank_branch_name %></th>
          <td><%= f.text_field :bank_branch_name, class:'form-control' %></td>
        </tr>
        <tr>
          <td><%= f.label :bank_branch_code %></th>
          <td><%= f.number_field :bank_branch_code, class:'form-control' %></td>
        </tr>
        <tr>
          <td><%= f.label :bank_account_type %></th>
          <td><%= f.select :bank_account_type,
            UserAccount.bank_account_types_i18n.keys.map{
              |k| [I18n.t("enums.user_account.bank_account_type.#{k}"), k]
            }, {}, { class:'form-control' } %>
          </td>
        </tr>
        <tr>
          <td><%= f.label :bank_account_code %></th>
          <td><%= f.number_field :bank_account_code, class:'form-control' %></td>
        </tr>
        <tr>
          <td><%= f.label :bank_account_name %></th>
          <td><%= f.text_field :bank_account_name, class:'form-control' %></td>
        </tr>
      </tbody>
    </table>
    <%= f.submit t('button.update'), class: 'btn btn-primary' %>
  <% end %>
</div>