<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= PaymentResult.human_attribute_name(:working_month) %></th>
        <th><%= Project.human_attribute_name(:project_name) %></th>
        <th><%= PaymentResult.human_attribute_name(:payment_amount) %></th>
        <th><%= PaymentResult.human_attribute_name(:payment_on) %></th>
        <th><%= PaymentResult.human_attribute_name(:payment_note_url) %></th>
      </tr>
    </thead>
    <tbody>
      <% @payment_results.each do |payment_result| %>
        <tr>
          <td><%= l payment_result.working_month, format: :year_month %></td>
          <td><%= payment_result.project.project_name %></td>
          <td><%= number_to_currency(payment_result.payment_amount) %></td>
          <td><%= l payment_result.payment_on, format: :default %></td>
          <td>
          <% if payment_result.payment_note_url.nil? %>
            <%= t('.not_yet_published_payment_not') %>
          <% else %>
            <%= link_to t('.download_payment_note'), payment_result.payment_note_url, 
                target: :_blank, rel: "noopener noreferrer"
            %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>