<div class="border-left-line">
  <%= "#{@project.project_name} | #{main_title}" %>
</div>

<div class="main-content">
  <%= form_with model: @work_result, url: url do |f| %>
    <table class="table">
      <tbody>
        <tr>
          <td><%= f.label :working_on %></th>
          <td><%= l @this_day, format: :default %></td>
        </tr>
        <tr>
          <td><%= f.label :start_at %></th>
          <td><%= f.time_field :start_at, class:'form-control' %></td>
        </tr>
        <tr>
          <td><%= f.label :end_at %></th>
          <td><%= f.time_field :end_at, class:'form-control' %></td>
        </tr>
        <tr>
          <td><%= f.label :working_hours %></th>
          <td><%= f.number_field :working_hours, step: "0.1", class:'form-control' %></td>
        </tr>
        <tr>
          <td><%= f.label :project_category_id %></th>
          <td><%= f.collection_select :project_category_id, 
            @project_categories, :id, :project_category_name, 
            { :include_blank => true }, { class:'form-control' } %>
          </td>
        </tr>
        <tr>
          <td><%= f.label :working_content %></th>
          <td><%= f.text_area :working_content, class:'form-control' %></td>
        </tr>
      </tbody>
    </table>
    <%= f.submit button, class: 'btn btn-primary' %>
  <% end %>
</div>
