<div class="border-left-line">
  <%= "#{@project.project_name} | #{t('.main_title')}" %>
</div>

<div class="work-result-main-content">
  <div class="main-content-side">
    <div class="this-month"><%= l @this_month, format: :year_month %></div>
    <div class="next-month">
      <%= link_to t('.next_month'), 
        work_result_monthly_path(@project.id, @this_month.next_month.year, @this_month.next_month.month),
        class: "btn btn-outline-dark btn-sm" %>
    </div>
    <div class="last-month">
      <%= link_to t('.last_month'), 
        work_result_monthly_path(@project.id, @this_month.last_month.year, @this_month.last_month.month),
        class: "btn btn-outline-dark btn-sm" %>
    </div>
  </div>

  <div class="main-content-main">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= WorkResult.human_attribute_name(:working_on) %></th>
            <th><%= WorkResult.human_attribute_name(:start_at) %></th>
            <th><%= WorkResult.human_attribute_name(:working_hours) %></th>
            <th><%= t('.working_status') %></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% (@beginning_of_month..@end_of_month).each do |day| %>
            <tr>
              <td><%= l day, format: :month_day %></td>
              <td><%= get_work_result_info(@project.id, @year ,@month, day.day, 'start_at') %></td>
              <td><%= get_work_result_info(@project.id, @year ,@month, day.day, 'working_hours') %></td>
              <td>
                <%= render_working_status(@year ,@month, day.day) %>
              </td>
              <td>
                <%= render_edit_or_create_without_work_button(@year ,@month, day.day) %>
              </td>
              <td>
                <%= render_show_button(@year ,@month, day.day) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>