<div class="border-left-line">
  <%= t('.main_title') %>
</div>

<div class="main-content">
  <div style="text-align:right; margin:1em 3em">
    <%= link_to t('button.create'), new_admin_user_account_path, class: 'btn btn-info'%>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th><%= UserAccount.human_attribute_name(:user_id) %></th>
        <th><%= UserAccount.human_attribute_name(:created_at) %></th>
        <th><%= UserAccount.human_attribute_name(:updated_at) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= User.find(user.id).full_name %></td>
          <% if !user.user_account.nil? %>
            <td><%= l user.user_account.created_at, format: :default %></td>
            <td><%= l user.user_account.updated_at, format: :default %></td>
            <td style="text-align:right;">
              <%= link_to t('button.show'), 
                  admin_user_account_path(user.user_account.id),
                  class: 'btn btn-info' 
              %>
            </td>
          <% else %>
            <td></td>
            <td></td>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
