<div class="border-left-line">
  <%= t('.main_title') %>
</div>

<div class="main-content">
  <table class="table">
    <tbody>
      <tr>
        <td><%= UserAccount.human_attribute_name(:user_id) %></th>
        <td><%= @user.full_name %></td>
      </tr>
      <tr>
        <td><%= UserAccount.human_attribute_name(:bank_name) %></th>
        <td><%= @user_account.bank_name %></td>
      </tr>
      <tr>
        <td><%= UserAccount.human_attribute_name(:bank_branch_name) %></th>
        <td><%= @user_account.bank_branch_name %></td>
      </tr>
      <tr>
        <td><%= UserAccount.human_attribute_name(:bank_branch_code) %></th>
        <td><%= @user_account.bank_branch_code %></td>
      </tr>
      <tr>
        <td><%= UserAccount.human_attribute_name(:bank_account_type) %></th>
        <td><%= @user_account.bank_account_type_i18n %></td>
      </tr>
      <tr>
        <td><%= UserAccount.human_attribute_name(:bank_account_code) %></th>
        <td><%= @user_account.bank_account_code %></td>
      </tr>
      <tr>
        <td><%= UserAccount.human_attribute_name(:bank_account_name) %></th>
        <td><%= @user_account.bank_account_name %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to t('button.delete'), 
    admin_user_account_path(@user_account),
    method: :delete,
    data: { confirm: t('.delete_confirm') },
    class: 'btn btn-danger'
  %>
</div>